<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kankan.dao.mapper.ThumpMapper">
    <insert id="insert" parameterType="ThumpEntity" useGeneratedKeys="true" keyProperty="id">
        insert into thumbs(id,resource_id,comment_id,user_id,status,create_time,update_time) values (#{id},#{resourceId},#{commentId}, #{userId},#{status},#{createTime},#{updateTime})
    </insert>
</mapper>
